.introduction img {
    display: block;
    height: 405px;
    margin-top: 10px;
}

.introduction .text-wrapper {
    padding: 20px 40px 25px 40px;
    background-color: #C04C9C;
    overflow: hidden;
}

.introduction .heading {
    color: #fff;
    font-size: 33px;
    margin: 0 0 7px 0;
}

.introduction .preamble {
    float: left;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    max-width: 800px;
}

.introduction .intro-button {
    float: right;
    width: 165px;
    background-color: #246cc7;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
}