.privacy-policy .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
    margin-top: 100px;
}

.privacy-policy .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
}

.privacy-policy h3 {
    margin: 0;
    color: #C04C9C;
    font-size: 20px;
    font-weight: 500;
}

.privacy-policy p {
    margin-top: 5px;
    margin-bottom: 25px;
    line-height: 23px;
    font-size: 15px;
}

.privacy-policy p.narrow {
    margin-bottom: 10px;
}

.privacy-policy .privacy-wrapper {
    padding: 20px 90px;
    margin: 0 auto;
}

.privacy-policy .preamble {
    font-size: 18px;
    line-height: 26px;
}

.privacy-policy p.contact {
    margin-bottom: 10px;
}

.privacy-policy h4 {
    margin-bottom: 12px;
    color: #C04C9C;
    font-size: 19px;
}

.privacy-policy p.address {
    margin-bottom: 5px;
}

@media only screen and (max-width: 950px) {
    .privacy-policy .privacy-wrapper {
        padding: 20px 45px;
        max-width: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {
    .privacy-policy .privacy-wrapper {
        padding: 20px 40px;
        max-width: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1100px) {
    .privacy-policy .privacy-wrapper {
        max-width: 850px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .privacy-policy .page-header {
        margin-top: 220px;
        background-color: #ffffff;
    }

    .privacy-policy .page-header h1 {
        color: #C04C9C;
        padding: 7px 0;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .privacy-policy .privacy-wrapper {
        padding: 0 37px;
        max-width: 800px;
        margin: 0 auto;
    }

    .privacy-policy .preamble {
        font-size: 18px;
        line-height: 26px;
    }

    .privacy-policy h3 {
        margin: 0;
        color: #C04C9C;
        font-size: 22px;
    }

    .privacy-policy p {
        margin-top: 5px;
        margin-bottom: 25px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 1100px) and (orientation: landscape) {
    .privacy-policy .privacy-wrapper {
        padding: 10px 40px;
        max-width: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .privacy-policy .privacy-wrapper {
        padding: 10px 40px;
        margin: 0;
    }

    .privacy-policy .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 220px;
    }

    .privacy-policy .page-header h1 {
        color: #C04C9C;
        padding: 7px 0;
        margin-top: 8px;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 768px) and (orientation: portrait) {
    .privacy-policy .privacy-wrapper {
        padding: 0 40px;
    }

    .page-header h1 {
        color: #C04C9C !important;
    }

    .privacy-policy .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 220px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .privacy-policy .privacy-wrapper {
        padding: 0 20px;
    }

    .page-header h1 {
        color: #C04C9C !important;
        text-align: left !important;
        margin-left: 20px !important;
    }
}