.how-it-works {
    padding: 35px 30px;
    text-align: center;
}

.how-it-works a {
    color: #333;
    text-decoration: underline;
}

.how-it-works .step-wrapper p {
    text-align: left;
}

.how-it-works .row-1 {
    margin-top: 50px;
}

.how-it-works .narrow {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.how-it-works .step-4 {
    width: 120px !important;
    margin-top: 30px !important;
    height: 120px !important;
}

.how-it-works .step-2 {
    margin-top: 35px !important;
}


.how-it-works .row-2 {
    margin-bottom: 0 !important;
}

.how-it-works .row-2 .step-wrapper {
    margin-bottom: 0 !important;
}

.how-it-works .step-wrapper {
    display: inline-block;
    width: 42%;
    margin-bottom: 35px;
    box-sizing: border-box;
    vertical-align: top;
}

.how-it-works .step-wrapper:first-child {
    padding: 0 50px 0 20px;
}

.how-it-works .step-wrapper:last-child {
    padding: 0 20px 0 50px;
}

.how-it-works .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #C04C9C;
    margin: 0 auto 25px;
    text-align: center;
}

.how-it-works .sub-heading {
    font-size: 20px;
    margin-bottom: 5px;
    color: #C04C9C;
    text-align: left;
}

.how-it-works .description {
    margin-top: 0;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
}

.how-it-works .circle svg {
    width: 100px;
    margin-top: 43px;
    height: 100px;
}

.how-it-works .circle svg.bank {
    width: 130px;
    margin-top: 37px;
    height: 100px;
}

.how-it-works .heading {
    color: #C04C9C;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.how-it-works .preamble {
    margin: 0 auto 10px;
    text-align: center;
    width: 70%;
    line-height: 25px;
    font-size: 18px;
}


@media only screen and (max-width: 500px) {
    .how-it-works {
        padding: 20px 40px 26px 40px;
    }

    .how-it-works .heading {
        text-align: left;
        font-size: 27px;
        margin-top: 10px;
    }

    .how-it-works .preamble {
        text-align: left;
        width:100%;
        margin-bottom: 25px;
    }

    .how-it-works .step-wrapper {
        display: inline-block;
        width: 100%;
        padding: 0 !important;
        box-sizing: border-box;
        height: auto;
        margin-bottom: 0 !important;
    }

    .how-it-works .row-1 {
        margin-top: 30px;
    }

    .how-it-works .step-wrapper p.description {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .how-it-works {
        padding: 20px 20px 26px 20px;
    }
}