.blog .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
    margin-top: 100px;
}

.blog .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin: 8px 0 0 0;
}

.blog .blog-list {
    padding: 10px 90px;
}

.blog .blog-item {
    list-style-type: none;
    margin: 0 auto;
}

.blog  .blog-item h2 {
    color: #C04C9C;
}

.blog .blog-item p {
    white-space: pre-wrap;
    font-size: 15px;
    line-height: 23px;
}

.blog .date {
    color: #C04C9C;
    margin: 5px 0 0 0;
}

.blog .author {
    margin: 0;
    color: #C04C9C;
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .blog .blog-list {
        padding: 10px 40px;
        margin-top: 0;
    }

    .blog .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 250px;
    }

    .blog .page-header h1 {
        color: #C04C9C;
        padding: 7px 0;
        margin: 8px 0 0 0;
    }

    .cookies-wrapper .push {
        height: 150px !important;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .blog .blog-list {
        padding: 0 40px;
    }

    .blog .page-header {
        background-color: #C04C9C;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 200px;
    }

    .blog .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 250px;
        color: #C04C9C;
    }

    .blog .page-header h1 {
        color: #C04C9C;
        padding: 7px 0;
        margin: 8px 0 0 0;
    }
}

@media only screen and (max-width: 500px) {
    .blog .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        margin-top: 220px;
    }

    .blog .page-header h1 {
        color: #C04C9C;
    }

    .blog .wrapper {
        padding: 0;
    }

    .blog .blog-list {
        padding: 0 37px;
        margin-bottom: 30px;
    }

    .blog .blog-list li {
        width: 100%;
        line-height: 24px;
    }

    .blog .blog-item p:last-child {
        line-height: 22px;
    }
}

@media only screen and (max-width: 400px) {
    .blog .blog-list {
        padding: 0 20px;
    }
}