.hero img {
    display: block;
    height: 405px;
    margin-top: 10px;
}

.hero-text {
    padding: 15px 20px 25px 20px;
    background-color: #C04C9C;
    overflow: hidden;
}

.hero-text h3 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 7px 0;
}

.hero-text p {
    float: left;
    margin: 0;
    font-weight: 300;
    color: #fff;
    max-width: 700px;
}

.hero-text button {
    float: left;
    background-color: #6393CF;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    margin-top: 5px;
}