.hero img {
    display: block;
    height: 405px;
    margin-top: 10px;
}

.hero-text {
    padding: 20px 40px 25px 40px;
    background-color: #C04C9C;
    overflow: hidden;
}

.hero-text h3 {
    color: #fff;
    font-size: 33px;
    margin: 0 0 7px 0;
}

.hero-text p {
    float: left;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    color: #fff;
    max-width: 800px;
    line-height: 25px;
}

.hero-text p.preamble {
    max-width: 800px;
}

.hero-text button {
    float: right;
    width: 165px;
    background-color: #246cc7;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    //margin-top: 5px;
}

.hero-text button.category-button {
    float: right;
}