.quote-image {
    height: 542px;
    overflow: hidden;
    position: relative;
}

.quote-image img {
    display: block;
    width: 100%;
    margin-top: -100px;
}

.quote-image p {
    position: absolute;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    left: 50%;
    margin-left: -365px;
    top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}