.contact .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
    margin-top: 100px;
}

.contact .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
}

.contact .wrapper {
    padding: 10px 90px 40px;
    margin: 0 auto;
}

.contact .contact-text {
    margin-top: 5px;
    font-size: 15px;
    line-height: 26px;
}

.contact .phone-header,
.contact .contact-header {
    color: #C04C9C;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 20px;
}

.phone-header {
    margin-bottom: 5px;
}

.contact .email {
    margin-top: -10px;
}

.contact .text {
    font-size: 16px;
    line-height: 26px;
}

.contact .phone-number {
    margin-bottom: 3px;
    margin-top: 5px;
    padding-left: 20px;
}

.contact a {
    color: #333;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .push {
        height: 50px !important;
    }

    .contact .wrapper {
        padding: 10px 40px 40px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .contact .wrapper {
        padding: 10px 40px 40px;
        margin: 0 auto;
    }

    .push {
        height: 0;
    }

    .contact .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 250px;
    }

    .contact .page-header h1 {
        color: #C04C9C;
        padding: 7px 0 0 0;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .contact .push {
        height: 0;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .contact .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-top: 250px;
    }

    .contact .page-header h1 {
        color: #fff;
        padding-top: 7px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .contact .wrapper {
        padding: 10px 40px 40px;
        margin: 0 auto;
    }

    .contact .push {
        height: 0;
    }
}

@media only screen and (max-width: 500px) {
    .contact .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        margin-top: 220px;
    }

    .contact .page-header h1 {
        color: #C04C9C;
    }

    .contact .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    .push {
        height: 0 !important;
    }
}

@media only screen and (max-width: 400px) {
    .contact .wrapper {
        padding: 0 20px;
    }
}