.contact .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
}

.contact .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
}

.contact .wrapper {
    padding: 20px 80px;
    max-width: 700px;
    width: 70%;
    margin: 0 auto;
}

.contact .phone-header,
.contact .contact-header {
    color: #C04C9C;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 20px;
}

.phone-header {
    margin-bottom: 5px;
}

.contact .email {
    margin-top: -10px;
}

.contact .email,
.contact .skype {
    //color: #C04C9C;
}

.contact .text {
    font-size: 17px;
    line-height: 26px;
}

.contact .phone-number {
    margin-bottom: 3px;
    margin-top: 5px;
}

@media only screen and (max-width: 500px) {
    .contact .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .contact .page-header h1 {
        color: #C04C9C;
    }

    .contact .wrapper {
        padding: 0;
    }
}