.admin-table {
    width: 90%;
    margin-top: 0;
    padding-top: 100px;
}

.admin-table td {
    text-align: center;
}

.admin-heading {
    text-align: center;
    margin: 0;
    padding-top: 55px;
    color: #c04c9c;
}

.admin .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
}

.admin .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
}

.export-button {
    padding: 7px 15px;
    background-color: #c04c9c;
    border: none;
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    cursor: pointer;
    outline: 0;
    position: absolute;
    top: 187px;
    right: 67px;
}