.page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.complaint-list {
    padding: 0 0 0 20px;
}