.staff {
    padding: 5px 45px 45px;
    text-align: center;
    background-color: #C04C9C;
}

.staff .heading {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin: 24px 0 7px 0;
    text-align: center;
}

.staff .preamble {
    color: #fff;
    margin: 0 auto 25px;
    text-align: center;
    width: 70%;
    line-height: 25px;
    font-size: 18px;
}

.staff .cards {
    display: inline-block;
    width: 100%;
}

.staff .card .photo-info-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 400px;
    color: #fff;
    font-weight: 300;
    padding: 0 15px;
    box-sizing: border-box;
    opacity: 0;
}

.staff .card .photo-info-wrapper p {
    line-height: 22px;
    text-align: left;
}

.staff .card {
    display: inline-block;
    margin: 0 2%;
    margin-top: 25px;
    overflow: hidden;
    height: 449px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
    border: 8px solid #fff;
    background-color: #fff;
    border-radius: 3px;
}

.staff .card .photo-wrapper:hover .photo-info-wrapper {
    opacity: 1;
}

.staff .card .photo-wrapper {
    height: 383px;
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
}

.staff .card .photo-wrapper img {
    width: 300px;
    height: auto;
}

.staff .card .info-wrapper {
    width: 282px;
    background-color: #fff;
    height: 47px;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    position: relative;
}

.staff .card .info-wrapper:first-child {
    font-weight: 600;
    font-size: 16px;
}

.staff .card .info-wrapper:last-child {
    font-size: 14px;
}

.staff .card .info-wrapper p {
    line-height: 19px;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.staff .card .info-wrapper svg {
    float: right;
    top: 0;
    z-index: 99;
    width: 50px;
    height: auto;
    margin-right: 7px;
    margin-top: 0px;
    position: relative;
}

.staff .card .info-wrapper svg path {
    fill: #246cc7 !important;
}

.staff .card .diploma-wrapper {
    position: relative;
    cursor: pointer;
}

.staff .card .diploma-wrapper:before {
    content: '';
    position: absolute;
    right: 11px;
    top: 5px;
    width: 43px;
    height: 38px;
    background-color: #fff;
}

.staff .card .title-wrapper {
    float: left;
}

.staff .card .title-wrapper p:first-child {
    font-size: 23px;
    margin-bottom: 0;
}

.staff .show-diploma {
    display: block !important;
}

.staff .diploma {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.staff .diploma-open-wrapper svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 26px;
    right: 7px;
    z-index: 9999;
    cursor: pointer;
}

.staff .diploma-open-wrapper {
    position: relative;
    height: 725px;
    width: 525px;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -375px;
    margin-left: -260px;
    padding: 10px;
    border-radius: 3px;
}

.staff .diploma img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    padding: 10px;
    background-color: #C04C9C;
    border-radius: 3px;
}