.staff {
    padding: 5px 45px 45px;
    text-align: center;
    background-color: #C04C9C;
}

.staff .heading {
    color: #fff;
    font-size: 40px;
    margin: 24px 0 7px 0;
    text-align: center;
}

.staff .link {
    color: #fff !important;
    text-decoration: underline;
}

.staff .preamble {
    color: #fff;
    margin: 0 auto 15px;
    text-align: center;
    width: 70%;
    line-height: 25px;
    font-size: 17px;
}

.staff .img-hajra {
    margin-top: -13px;
}

.staff .img-irmaa {
    margin-top: -8px;
}

.staff .cards {
    display: inline-block;
    width: 100%;
}

.staff .card .photo-info-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 400px;
    color: #fff;
    font-weight: 300;
    padding: 0 15px;
    box-sizing: border-box;
    opacity: 0;
}

.staff .card .photo-info-wrapper p {
    line-height: 19px;
    text-align: left;
    margin: 12px;
}

.staff .card {
    display: inline-block;
    margin: 0 2%;
    margin-top: 25px;
    overflow: hidden;
    height: 449px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
    border: 8px solid #fff;
    background-color: #fff;
}

.staff .card .photo-wrapper:hover .photo-info-wrapper {
    opacity: 1;
}

.staff .card .photo-wrapper {
    height: 383px;
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
}

.staff .card .photo-wrapper img {
    width: 300px;
    height: auto;
}

.staff .card .info-wrapper {
    width: 282px;
    background-color: #fff;
    height: 47px;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    position: relative;
}

.staff .card .info-wrapper:first-child {
    font-weight: 600;
    font-size: 16px;
}

.staff .card .info-wrapper:last-child {
    font-size: 14px;
}

.staff .card .info-wrapper p {
    line-height: 19px;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.staff .card .info-wrapper svg {
    float: right;
    top: 0;
    z-index: 99;
    width: 50px;
    height: auto;
    margin-right: -3px;
    margin-top: 0px;
    position: relative;
}

.staff .card .info-wrapper svg path {
    fill: #246cc7 !important;
}

.staff .card .diploma-wrapper {
    position: relative;
    cursor: pointer;
}

.staff .card .diploma-wrapper:before {
    content: '';
    position: absolute;
    right: 11px;
    top: 5px;
    width: 43px;
    height: 38px;
    background-color: #fff;
}

.staff .card .title-wrapper {
    float: left;
}

.staff .card .title-wrapper p:first-child {
    font-size: 23px;
    margin-bottom: 0;
}

.staff .show-diploma {
    display: block !important;
}

.staff .diploma {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.staff .diploma-open-wrapper svg {
    position: absolute;
    width: 30px;
    height: 29px;
    top: 27px;
    right: -11px;
    cursor: pointer;
    z-index: 999999999;
}

.staff .diploma-open-wrapper.diploma-wrapper-vertical {
    position: absolute;
    width: 450px;
    height: calc(450px / 0.74);
    max-height: 700px;
    z-index: 99999999;
    padding: 10px;
    border-radius: 3px;
    margin: auto;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: -220px;
}

.staff .diploma-open-wrapper.diploma-wrapper-horizontal {
    position: absolute;
    width: 700px;
    height: calc(700px * 0.62);
    max-height: 700px;
    z-index: 99999999;
    padding: 10px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -225px;
}

.staff .diploma img.diploma-vertical {
    width: 100%;
    border: 8px solid #C04C9C;
    padding: 10px;
    background: #fff;
    pointer-events: none;
}

.staff .diploma img.diploma-horizontal {
    width: 100%;
    border: 8px solid #C04C9C;
    padding: 10px;
    background: #fff;
    pointer-events: none;
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .staff .heading {
        color: #fff;
        font-size: 35px;
        margin: 24px 0 7px 0;
        text-align: center;
    }

    .staff .cards {
        display: inline-block;
        margin-left: -25px;
    }

    .staff .card {
        display: inline-block;
        margin: 0 0 0 2%;
        margin-top: 25px;
        overflow: hidden;
        height: 406px;
        box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
        border: 8px solid #fff;
        background-color: #fff;
        width: 29%;
    }

    .staff .card .photo-wrapper {
        height: 340px;
        overflow: hidden;
        position: relative;
        border: 1px solid #fff;
    }

    .staff .card .photo-wrapper img {
        width: 270px;
        height: auto;
    }

    .staff .card .info-wrapper {
        width: 100%;
        background-color: #fff;
        height: 47px;
        border-radius: 0 0 5px 5px;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
    }

    .staff .card .diploma-wrapper {
        position: relative;
        cursor: pointer;
        display: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .staff .card {
        display: inline-block;
        margin: 0 0 0 4%;
        margin-top: 25px;
        overflow: hidden;
        height: 406px;
        box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
        border: 8px solid #fff;
        background-color: #fff;
        width: 42%;
    }

    .staff .card .photo-wrapper img {
        width: 290px;
        height: auto;
    }

    .staff .preamble {
        color: #fff;
        margin: 0 auto 15px;
        text-align: center;
        width: auto;
        line-height: 25px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .staff {
        padding: 5px 35px 35px;
    }

    .staff .preamble {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .staff {
        padding: 5px 40px 20px;
    }

    .staff .heading {
        text-align: left;
        font-size: 27px;
    }

    .staff .preamble {
        width:100%;
        margin-bottom: 25px;
        text-align: left;
    }

    .staff .card:first-child {
        margin-top: 0;
    }

    .staff .card {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 20px 0;
        height: auto;
    }

    .staff .card .photo-wrapper {
        height: 320px;
    }

    .staff .card .info-wrapper svg {
        display: none;
    }

    .staff .card .diploma-wrapper {
        display: none;
    }

    .staff .photo-info-wrapper {
        display: none;
    }

    .staff .card .info-wrapper {
        width: auto;
        padding-bottom: 8px;
    }

    .staff .card .title-wrapper p:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 400px) {
    .staff {
        padding: 5px 20px 20px;
    }
}