.quote {
    padding: 20px;
    overflow: Hidden;
}

.quote p:first-child {
    line-height: 80px;
    margin: 0;
    font-size: 50px;
    font-weight: 300;
}

.quote p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 300;
}

.quote span:nth-child(3) {
    float: right;
    margin-right: 135px;
    margin-top: 7px;
    color: #C04C9C;
    display: block;
}

.quote p {
    color: #C04C9C;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .quote p:first-child {
        font-size: 35px;
        line-height: 51px;
        margin: 0;
    }

    .quote p:nth-child(2) {
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .quote span:nth-child(3) {
        float: right;
        margin-right: 135px;
        margin-top: 7px;
        color: #C04C9C;
        display: block;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .quote p {
        font-size: 50px;
        font-weight: 500;
        color: #C04C9C;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .quote {
        padding: 20px 0 32px 0;
        background-image: url('/images/quotebackground.jpg');
        height: 400px;
        background-position: center -320px;
        background-size: 768px;
    }

    .quote p {
        display: none;
        position: static;
        text-align: center;
        margin: 0;
        color: #C04C9C;
        font-size: 33px;
        line-height: 36px;
        text-shadow: none;
        font-weight: 500;
    }

    .quote span {
        display: none !important;
    }

    .quote img {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .quote {
        padding: 20px 0 32px 0;
        background-image: url('/images/quotebackground.jpg');
        height: 400px;
        background-position: center -320px;
        background-size: 768px;
    }

    .quote p {
        display: none;
        position: static;
        text-align: center;
        margin: 0;
        color: #C04C9C;
        font-size: 33px;
        line-height: 36px;
        text-shadow: none;
        font-weight: 500;
    }

    .quote span {
        display: none !important;
    }

    .quote img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .quote {
        padding: 20px 0 32px 0;
        background-image: url('/images/quotebackground.jpg');
        height: 300px;
        background-position: -31px -187px;
        background-size: 500px;
    }

    .quote p {
        display: none;
        position: static;
        text-align: center;
        margin: 0;
        color: #C04C9C;
        font-size: 33px;
        line-height: 36px;
        text-shadow: none;
        font-weight: 500;
    }

    .quote span {
        display: none !important;
    }

    .quote img {
        display: none;
    }
}




