.admin .page-header {
    margin-top: 100px;
}

.page.admin {
    max-width: none !important;
}

.admin-table {
    width: 95%;
    padding-top: 100px;
    margin: 0 auto;
}

.admin .admin-wrapper {
    margin: 0 auto;
    display: none;
}

.admin .push {
    height: 160px;
}

.mobile-list {
    //display: none;
}

.admin-table td {
    text-align: center !important;
    font-size: 14px;
}

.admin-table th {
    margin-right: 70px;
    margin-top: 109px;
    margin-left: 45px;
    width: 389px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    padding: 5px;
}

.admin-table td svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.admin-heading {
    text-align: center;
    margin: 0;
    padding-top: 55px;
    color: #c04c9c;
}

.admin .page-header {
    background-color: #C04C9C;
    position: static;
    display: block;
    text-align: center;
    padding-left: 0;
}

.admin .page-header h1 {
    color: #ffffff;
    padding: 7px 0;
    margin-top: 8px;
}

.export-button {
    padding: 7px 15px;
    background-color: #c04c9c;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
    outline: 0;
    position: absolute;
    top: 111px;
    right: 24px;
    border-radius: 3px;
}

.admin-arrow-right {
    width: 10px;
    height: 10px;
    background-color: #c04c9c;
    position: absolute;
    top: 25px;
    left: 30px;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.admin-arrow-down {
    width: 10px;
    height: 10px;
    background-color: #c04c9c;
    position: absolute;
    top: 25px;
    left: 30px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow-mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: -2px;
    right: 0;
    bottom: 0;
}

.mobile-list {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    margin-bottom: 200px;
}

.mobile-list li {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-weight: 100;
}

.mobile-list li:first-child {
    background-color: #c04c9c4d;
    border: none;
}

.mobile-list li > div {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.details {
    display: none !important;
}

.visible-row-items {
    text-align: center;
}

.visible-row-item {
    display: inline-block;
    text-align: left;
}

.detail-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.rating-number {
    text-indent: 25px;
}

.detail-inner div p {
    padding: 0 !important;
    min-width: 200px;
}

.detail-inner > div div {
    text-align: left;
    display: inline-block;
}

.detail-inner > .col-1,
.detail-inner > .col-2,
.detail-inner > .col-3,
.detail-inner > .col-4,
.detail-inner > .col-5,
.detail-inner > .col-6,
.detail-inner > .col-7 {
    vertical-align: top;
    height: 100%;
    justify-content: space-evenly;
    min-width: 200px;
}

.detail-inner > .col-1 {
    padding-left: 0;
}

.detail-heading {
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 16px;
}

.detailsOpen {
    display: block !important;
    max-width: none !important;
    min-height: 100px;
    box-sizing: border-box;
    box-shadow: inset 0 0 4px 1px rgba(0,0,0, 0.4);
    background-color:  #c04c9c;
    color: #fff;
}

.mobile-list li > div p {
    justify-content: space-evenly;
    min-width: 200px;
}

.mobile-list li > p {
    float: left;
}

@media only screen and (max-width: 500px) {
    .admin .page-header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .admin-table {
        display: none;
    }

    .export-button {
        padding: 7px 15px;
        border: none;
        font-size: 20px;
        font-weight: 200;
        cursor: pointer;
        outline: 0;
        position: absolute;
        top: 111px;
        right: 24px;
        color: #c04c9c;
        background: none;
    }

    .header .auth-controls {
        margin-bottom: 14px;
        position: static;
        background-color: #C04C9C;
        display: inline-block;
        border-radius: 15px;
        padding: 0px 10px;
        height: 30px;
        line-height: 8px;
    }

    .header .auth-controls a {
        color: #fff !important;
        padding: 10px;
        border-radius: 15px;
    }

    .mobile-list li:first-child {
        background-color: #fff;
        border: none;
    }

    .mobile-list li:last-child {
        border-bottom: none;
    }

    .row {
       border-top: 1px solid #eee;
        overflow: hidden;
        padding-left: 42px;
        display: block;
    }

    .mobile-list li > div {
        display: block;
    }

    .mobile-list {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .name {
        float: left;
        min-width: 0;
    }

    .mobile-list li > div p {
        min-width: 0;
    }

    .price {
        float: right;
        margin-right: 20px;
        min-width: 0;
    }

    .admin-arrow-right {
        top: 24px;
        left: 21px;
    }

    .admin-arrow-down {
        top: 23px;
        left: 21px;
    }

    .detail-inner {
        display: block;
        padding: 10px 25px;
    }

    .detail-inner > div {
        margin: 0 0 10px 0;
    }
}