.footer {
    height: 230px;
    background-color: #c04c9c;
    padding: 40px 80px;
    color: #fff;
    text-align: center;
}

.footer > div * {
    text-align: left;
}

.footer .col-1 {
    width: 350px;
    margin-right: 12%;
    display: inline-block;
    vertical-align: top;
}

.footer .col-2 {
    width: 240px;
    margin-right: 14%;
    display: inline-block;
    vertical-align: top;
}

.footer .col-3 {
    margin-right: 0;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.footer .col-1 p {
    margin-bottom: 0;
    margin-top: 5px;
}

.footer .col-2 p,
.footer .col-3 p {
    margin-bottom: 12px;
    margin-top: 5px;
}

.footer .col h3 {
    margin-bottom: 10px;
}

.footer .col {
    position: relative;
}

.footer .col-1:after {
    content: '';
    position: absolute;
    top: 30px;
    right: -15%;
    height: 170px;
    width: 2px;
    border-right: 1px solid #fff;
}

.footer .col-2:after {
    content: '';
    position: absolute;
    top: 30px;
    right: -31%;
    height: 170px;
    width: 2px;
    border-right: 1px solid #fff;
}

.footer .link {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
}

@media only screen and (max-width: 500px) {
    .footer {
        padding: 20px 40px;
        height: auto;
    }

    .footer .col {
        display: block;
        width: 100%;
    }

    .col-1 {
        margin: 0 0 18px 0;
    }

    .col-2 {
        margin: 0 0 7px 0;
    }

    .col-1:after {
        display: none;
    }

    .col-2:after {
        display: none;
    }
}