.footer {
    background-color: #c04c9c;
    padding: 40px 80px;
    color: #fff;
    text-align: center;
    height: 310px;
}

.footer > div * {
    text-align: left;
}

.footer .address {
    position: absolute;
    height: 40px;
    bottom: -57px;
    width: 600px;
}

.footer .col-1 {
    width: 381px;
    margin-right: 9%;
    display: inline-block;
    vertical-align: top;
}

.footer .col-2 {
    width: 302px;
    margin-right: 4%;
    display: inline-block;
    vertical-align: top;
}

.footer .col-3 {
    margin-right: 0;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.footer .col-1 p {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 300;
    line-height: 25px;
}

.footer .col-2 p,
.footer .col-3 p {
    margin-bottom: 11px;
    margin-top: 5px;
    font-weight: 300;
}

.footer .col h2 {
    margin-bottom: 10px;
    color: #fff !important;
    font-size: 20px;
}

.footer .col > h2 {
    margin-top: 0;
}

.footer .col h3 {
    margin-bottom: 5px;
    color: #fff !important;
    margin-top: 25px;
}

.footer .col {
    position: relative;
}

.footer .col-1:after {
    //content: '';
    position: absolute;
    top: 30px;
    right: -15%;
    height: 350px;
    width: 2px;
    border-right: 1px solid #fff;
}

.footer .col-2:after {
    //content: '';
    position: absolute;
    top: 30px;
    right: -31%;
    height: 350px;
    width: 2px;
    border-right: 1px solid #fff;
}

.footer .link {
    color: #fff;
    margin-bottom: 11px;
    font-size: 16px;
    display: block;
    font-weight: 300;
}

@media only screen and (max-width: 500px) {
    .footer {
        padding: 20px 40px;
        height: auto;
    }

    .footer .col {
        display: block;
        width: 100%;
    }

    .col-1 {
        margin: 0 0 18px 0;
    }

    .col-2 {
        margin: 0 0 7px 0;
    }

    .col-1:after {
        display: none;
    }

    .col-2:after {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .footer {
        padding: 10px 40px;
    }
    
    .footer .col-1 {
        margin-right: 6%
    }

    .footer .col-2 {
        margin-right: 6%;
    }
}