.header {
    padding-left: 300px;
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 99;
    box-sizing: border-box;
}

.languagepicker {
    //display: none;
    background-color: #FFF;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 50px 10px 0;
    vertical-align: top;
    float: left;
    border: 1px solid #aaa;
    cursor: pointer;
    min-width: 125px;
}

.flag-wrapper img {
    height: 100%;
}

.flag-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}

.languagepicker.open {
    height: 81px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 10px;
    line-height: 40px;
    border-top: 1px solid #EEE;
}

.languagepicker li:hover{
    background-color: #EEE;
}

.languagepicker span:first-child li:hover{
    background-color: #fff !important;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}

.language {
    position: absolute;
    top: 12px;
}

.language ul {
    border: 1px solid #ccc;
}

#topNav {
    display: none;
}

.header .logo {
    position: absolute;
    left: 20px;
}

.header .logo svg {
    width: 240px;
}

.header .auth-controls {
    position: absolute;
    right: 38px;
    top: 18px;
}

.header .auth-controls a {
    color: #C04C9C;
}

.header .main-menu {
    float: left;
    margin-top: 68px;
}

.header .main-menu a {
    display: inline-block;
    font-weight: 300;
    margin-right: 30px;
    color: #C04C9C;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.header .menuitem-active {
    border-bottom: 1px solid #C04C9C;
}

.header .logo-text {
    position: absolute;
    left: 40px;
    top: 17px;
    z-index: 999999;
}

.header .logo-text span,
.header .logo-text a {
    position: relative;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
    margin-right: 20px;
}

.header .logo-text a:first-child:after {
    content: '|';
    position: absolute;
    color: #27548c;
    right: -12px;
    top: 0;

}

.header .contact {
    position: absolute;
    right: 38px;
    top: 47px;
    text-align: right;
    z-index: 9999999;
}

.header .contact span:first-child {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .contact span:last-child {
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .is-visible {
    display: block;
}

.header .is-hidden {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .header {
        background-color: #fff;
        position: absolute;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        min-height: 227px;
        transition: all 0.4s ease-in-out;

    }

    .header.show {
        min-height: 384px;
    }

    .header.show + .introduction {
        padding-top: 0 !important;
    }

    .header.show + div {
        margin-top: 384px;
    }

    .header + div {
        transition: all 0.4s ease-in-out;
    }

    .admin-header {
        height: 277px !important;
    }

    .admin-header + .page-header {
        margin-top: 277px !important;
    }

    .header .logo {
        position: static;
        margin: 0;
    }

    .header .logo svg {
        width: 307px;
        margin-left: -20px;
        margin-top: 11px;
        height: 82px;
    }

    .header .logo-text {
        position: static;
        margin-bottom: 5px;
    }

    .header .contact {
        position: static;
        margin-top: 4px;
        text-align: center;
    }

    .header .contact span:first-child {
        display: block;
    }

    .header .contact span:last-child {
        display: block;
    }

    .header .main-menu {
        float: none;
        margin-top: 0;
        background-color: #C04C9C;
        padding: 12px 0;
    }

    .header .main-menu a {
        margin-right: 40px;
        color: #fff;
    }

    .header .main-menu a:last-child {
        margin-right: 0;
    }

    .header .auth-controls a {
        color: #fff;
        padding: 10px;
        border-radius: 15px;
        margin-top: -1px;
        float: left;
    }
}

@media only screen and (max-width: 500px) {
    .navigation {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 170px;
        left: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        float: none;
        margin-top: 0;
        background-color: #C04C9C;
        padding: 12px 0;
        height: 33px;
    }

    .language {
        position: absolute;
        top: 177px;
        right: -27px;
        z-index: 999;
    }

    .admin .navigation {
        top: 220px;
    }

    .navigation a {
        text-decoration: none;
    }

    .navigation ul {
        padding: 30px 0 0 0;
        margin-top: 0;
        text-align:center;
        list-style:none;
        margin-left:auto;
        margin-right:auto;
        height: 53px;
    }

    .navigation.show {
        height: 190px;
    }

    #topNav {
        display: block;
    }

    .navigation .menulist {
        //opacity: 0;
        width:200px;
    }

    .main-menu {
        display: none;
    }

    .navigation.show .menulist {
        //opaicty: 1;
    }

    .line1, .line2, .line3 {
        margin-top:5px;
        background-color:#fff;
        width:25px;
        height:3px;
        display:block;
        position:relative;
        opacity:1.0;
        border-radius:15%;
        transition: all .3s;
    }

    .line1.active {
        transform: rotate(270deg);
        opacity:0.0;
        background-color: #fff;
        top:5px;
    }

    .line2.active {
        transform: rotate(45deg);
        background-color: #fff;
    }

    .line3.active {
        transform: rotate(-45deg);
        background-color: #fff;
        top:-7px;
    }

    .navigation.show .menuitems {
        padding-top: 1px;
    }

    .menuitems {
        text-decoration: none;
        list-style: none;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        display: inline-block;
        position: relative;
        text-align: center;
        color: #fff !important;
        transition: all .5s ease-in-out;
        margin: 0;
        padding: 5px 0;
        font-size: 18px;
        padding-top: 30px;
        text-decoration: none !important;
    }

    .menuitems:hover, .menuitems:active {
        text-decoration: none !important;
    }

    .menuitems:hover::after {
        width:100%;
    }

    .menu-text {
        font-size: 15px;
        position: absolute;
        top: 6px;
        left: 39px;
    }

    #closebtn {
        margin-top: 5px;
        height:25px;
        width:25px;
        position: absolute;
        text-decoration:none;
        top: 10px;
        left: 25px;
        font-size: 36px !important;
        margin-right: 50px;
        z-index:100;
        color:#fff;
        cursor:pointer;
        trainsition:background-position .3s;
    }

    #main {
        transition: margin-top .4s;
        text-align:center;
        margin:auto;
        padding: 16px;
        font-size:30px;
    }
}

@media only screen and (max-width: 400px) {
    .header .main-menu a {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 350px) {
      .header .main-menu a {
          margin-right: 11px;
      }
}