.header {
    position: relative;
    padding-left: 300px;
    overflow: hidden;
}

.header .logo {
    position: absolute;
    left: 20px;
}

.header .logo svg {
    width: 240px;
}

.header .main-menu {
    float: left;
    margin-top: 68px;
}

.header .main-menu div {
    display: inline-block;
    font-weight: 400;
    margin-right: 30px;
    color: #C04C9C;
    font-size: 18px;
}

.header .logo-text {
    position: absolute;
    left: 40px;
    top: 17px;
}

.header .logo-text span {
    position: relative;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
    margin-right: 20px;
}

.header .logo-text span:first-child:after {
    content: '|';
    position: absolute;
    color: #27548c;
    right: -12px;
    top: 0;

}

.header .contact {
    position: absolute;
    right: 38px;
    top: 47px;
    text-align: right;
}

.header .contact span:first-child {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .contact span:last-child {
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}