.header {
    position: relative;
    padding-left: 300px;
    overflow: hidden;
}

.header .logo {
    position: absolute;
    left: 20px;
}

.header .logo svg {
    width: 240px;
}

.header .auth-controls {
    position: absolute;
    right: 38px;
    top: 18px;
}

.header .auth-controls a {
    color: #C04C9C !important;
}

.header .main-menu {
    float: left;
    margin-top: 68px;
}

.header .main-menu a {
    display: inline-block;
    font-weight: 400;
    margin-right: 30px;
    color: #C04C9C;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.header .logo-text {
    position: absolute;
    left: 40px;
    top: 17px;
}

.header .logo-text span {
    position: relative;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
    margin-right: 20px;
}

.header .logo-text span:first-child:after {
    content: '|';
    position: absolute;
    color: #27548c;
    right: -12px;
    top: 0;

}

.header .is-visible {
    display: block;
}

.header .is-hidden {
    display: none;
}

.header .contact {
    position: absolute;
    right: 38px;
    top: 47px;
    text-align: right;
}

.header .contact span:first-child {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .contact span:last-child {
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    .header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .header .logo {
        position: static;
        margin: 0;
    }

    .header .logo svg {
        width: 307px;
        margin-left: -20px;
        margin-top: 11px;
        height: 82px;
    }

    .header .logo-text {
        position: static;
        margin-bottom: 5px;
    }

    .header .contact {
        position: static;
        margin-top: 4px;
        text-align: center;
    }

    .header .contact span:first-child {
        display: block;
    }

    .header .contact span:last-child {
        display: block;
    }

    .header .main-menu {
        float: none;
        margin-top: 0;
        background-color: #C04C9C;
        padding: 12px 0;
    }

    .header .main-menu a {
        margin-right: 25px;
        color: #fff;
    }

    .header .main-menu a:last-child {
        margin-right: 0;
    }
}