.header {
    padding-left: 300px;
    overflow: hidden;
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 99;
    box-sizing: border-box;
}

.header .logo {
    position: absolute;
    left: 20px;
}

.header .logo svg {
    width: 240px;
}

.header .auth-controls {
    position: absolute;
    right: 38px;
    top: 18px;
}

.header .auth-controls a {
    color: #C04C9C;
}

.header .main-menu {
    float: left;
    margin-top: 68px;
}

.header .main-menu a {
    display: inline-block;
    font-weight: 400;
    margin-right: 30px;
    color: #C04C9C;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.header .logo-text {
    position: absolute;
    left: 40px;
    top: 17px;
    z-index: 999999;
}

.header .logo-text span,
.header .logo-text a {
    position: relative;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
    margin-right: 20px;
}

.header .logo-text a:first-child:after {
    content: '|';
    position: absolute;
    color: #27548c;
    right: -12px;
    top: 0;

}

.header .contact {
    position: absolute;
    right: 38px;
    top: 47px;
    text-align: right;
    z-index: 9999999;
}

.header .contact span:first-child {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .contact span:last-child {
    font-weight: 400;
    color: #27548c;
    font-size: 14px;
}

.header .is-visible {
    display: block;
}

.header .is-hidden {
    display: none !important;
}

@media only screen and (max-width: 500px) {
    .header {
        background-color: #fff;
        position: absolute;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        min-height: 227px;
    }

    .admin-header {
        height: 277px !important;
    }

    .admin-header + .page-header {
        margin-top: 277px !important;
    }

    .header .logo {
        position: static;
        margin: 0;
    }

    .header .logo svg {
        width: 307px;
        margin-left: -20px;
        margin-top: 11px;
        height: 82px;
    }

    .header .logo-text {
        position: static;
        margin-bottom: 5px;
    }

    .header .contact {
        position: static;
        margin-top: 4px;
        text-align: center;
    }

    .header .contact span:first-child {
        display: block;
    }

    .header .contact span:last-child {
        display: block;
    }

    .header .main-menu {
        float: none;
        margin-top: 0;
        background-color: #C04C9C;
        padding: 12px 0;
    }

    .header .main-menu a {
        margin-right: 25px;
        color: #fff;
    }

    .header .main-menu a:last-child {
        margin-right: 0;
    }

    .header .auth-controls a {
        color: #fff;
        padding: 10px;
        border-radius: 15px;
        margin-top: -1px;
        float: left;
    }
}

@media only screen and (max-width: 400px) {
    .header .main-menu a {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 350px) {
      .header .main-menu a {
          margin-right: 11px;
      }
}