.payment {
    overflow: hidden;
    margin-bottom: 25px;
    padding: 20px 45px 0;
}

.payment > div > * {
    text-align: left;
}

.payment input {
    position: absolute;
    left: -9999px;
}

.payment .heading {
    color: #C04C9C;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.payment .preamble {
    margin: 0 auto 38px;
    text-align: left;
    width: 94%;
    line-height: 25px;
    font-size: 17px;
}

.form-element-wrapper {
    margin-top: 10px;
    overflow: hidden;
}

.payment-type-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-evenly;
}

.skype .category-heading {
    margin-left: 65px !important;
}

.email .category-heading {
    margin-left: 84px !important;
}

.payment .category-heading {
    color: #C04C9C;
    margin-bottom: 13px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}

.payment .skype {
    margin-top: -15px;
    margin-left: 31px;
}

.payment .email {
    margin-top: -15px;
}

.payment .email-s-label {
    margin-bottom: 5px;
}

.payment .email-m-label {
    margin-bottom: 0;
    margin-top: 3px;
}

.payment .skype:after,
.payment .email:after {
    content: '';
    position: absolute;
    right: 13%;
    top: 10px;
    width: 2px;
    height: 300px;
    border-right: 1px solid #aaa;
}

.payment .skype,
.payment .email,
.payment .weeks {
    position: relative;
}

.payment .skype,
.payment .email,
.payment .info-text {
    position: relative;
    width: 33.333%;
}

.payment .skype .wrapper label,
.payment .email .wrapper label {
    display: block;
    margin-bottom: 15px;
    position: relative;
    padding: 15px 30px 15px 55px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #C04C9C;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    width: 169px;
    text-align: left;
    font-weight: 300;
    font-size: 17px;
}

.payment .skype .wrapper label:before,
.payment .email .wrapper label:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 10px;
    left: 7px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

.payment .skype .wrapper label:hover,
.payment .email .wrapper label:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.payment .skype .wrapper input:checked + label:before,
.payment .email .wrapper input:checked + label:before {
    content: '\2713';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 10px;
    left: 7px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
    color: #C04C9C;
    font-size: 33px;
    line-height: 33px;
    text-indent: 2px;
}

.payment input.email-s:checked ~ .weeks {
    display: block;
}

.payment input.email-m:checked ~ .weeks {
    display: block;
}

.payment input.email-s:checked ~ .week-text {
    display: none;
}

.payment input.email-m:checked ~ .week-text {
    display: none;
}

.payment .weeks {
    display: none;
    height: 50px;
    margin-bottom: 18px;
    margin-top: 16px;
    padding-right: 13px;
    padding-left: 37px;
    box-sizing: border-box;
    width: 250px;
    padding-top: 6px;
    text-align: left;
}

.payment .week-title {
    margin-right: 20px;
    text-align: center;
    float: left;
}

.payment .week-title span {
    display: block;
    color: #C04C9C;
}

.payment .arrow-right {
    border-right: 5px solid #C04C9C;
    border-bottom: 5px solid #C04C9C;
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

.payment .arrow-left {
    float: left;
    border-left: 5px solid #C04C9C;
    border-top: 5px solid #C04C9C;
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
    margin-top: 10px;
    cursor: pointer;
}

.payment .week-text {
    margin-left: 13px;
    font-size: 15px;
    width: 245px;
    font-weight: 300;
}

.payment .n-weeks {
    float: left;
    width: 50px;
    height: 40px;
    border-radius: 4px;
    font-size: 41px;
    font-weight: 600;
    color: #C04C9C;
    line-height: 39px;
    text-align: center;
    text-indent: -3px;
}

.payment .promo-text {
    display: inline-block;
    margin-top: 107px;
    color: #fff;
    text-align: center;
    margin-left: 5px;
}

.payment .n-weeks span {
    font-size: 41px;
    font-weight: 600;
    color: #C04C9C;
    line-height: 39px;
    text-align: center;
    text-indent: -3px;
}

.payment .info-text {
    margin-top: 20px;
}

.payment .info-text p {
    margin-top: 0;
    line-height: 25px;
    margin-bottom: 0;
}

.payment + .text-wrapper {
    padding: 25px 40px 21px 40px;
    background-color: #C04C9C;
    overflow: hidden;
    text-align: center;
}

.payment + .text-wrapper .heading {
    color: #C04C9C;
    font-weight: 700;
    font-size: 40px;
    margin: 24px 0 7px 0;
    text-align: center;
}

.payment + .text-wrapper p {
    float: left;
    margin: 0;
    font-weight: 300;
    color: #fff;
    max-width: 700px;
}

.payment + .text-wrapper .checkout-button {
    background-color: #246cc7;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 150px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: top;
    margin-top: 1px;
}

.payment + .text-wrapper .total {
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    min-width: 320px;
    vertical-align: top;
    display: inline;
    margin-right: 18px;
}

.payment + .text-wrapper .total span {
    vertical-align: top;
    font-size: 25px;
    padding-top: 13px;
    padding-left: 3px;
    display: inline-block;
}

.payment + .text-wrapper .spec {
    min-width: 200px;
    margin-top: 3px;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}

.payment + .text-wrapper .spec span {
    display: block;
    color: #fff;
    text-align: left;
    margin-bottom: 3px;
    font-weight: 300;
}

.payment .radio-wrapper {
    margin: 100px 0;
}
.payment .toggle_radios {
    position: relative;
    margin-left: 3px;
    background: #43c568;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 40px;
    width: 252px;
    border: 3px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    margin-bottom: 23px;
}

.payment + .text-wrapper .promo-textfield {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.payment + .text-wrapper .promo-textfield span {
    float: left
}

.payment .info-text .promo {
    background-image: url('/images/promobackground.svg');
    background-repeat: no-repeat;
    width: 390px;
    height: 380px;
    background-size: 400px;
    position: absolute;
    top: -77px;
    left: -51px;
    text-align: center;
}

.info-text .percent {
    font-size: 30px;
    display: block;
    margin-bottom: 3px;
}

.currency-wrapper {
    width: 100px;
    margin-right: 15px;
    margin-top: 2px;
    display: inline-block;
}

.currency-wrapper .select-style {
    height: 40px;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    color: #333;
    border: 1px solid #fff;
    text-align: center;
}

.currency-wrapper .select-style select {
    color: #333;
    vertical-align: top;
    width: 100%;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
    height: 100%;
    line-height: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
    padding: 0 0 0 18px;
    text-align: center;
}

.currency-wrapper .select-style:after {
    top: 50%;
    right: 15px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #333;
    border-width: 7px;
    margin-top: -2px;
    z-index: 100;
}



.payment + .text-wrapper .promo-textfield input {
    display: block;
    width: 110px;
    height: 42px;
    border: 1px solid #888;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    font-weight: 200;
    margin-top: 2px;
}

.info-text .percent-text {
    font-size: 23px;
    display: block;
    margin-bottom: 3px;
    font-weight: 300;
}

.info-text .launch {
    display: block;
    font-size: 29px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 5px;
}

.info-text .web-adress {
    display: block;
    font-size: 29px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: 300;
}

.info-text .web-adress span{
    font-weight: 500;
}

.info-text .launch-date {
    display: block;
    font-size: 19px;
    font-weight: 400;
    margin-top: -1px;
    margin-bottom: 1px;
}

.info-text .kod-text {
    display: inline;
    margin-top: 6px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.info-text .kod-text2 {
    font-size: 18px;
    margin-top: 6px;
    font-weight: 300;
}

.kod-text span,
.kod-text2 span {
    font-weight: 500;
}

.info-text .kod-text2 span {
    font-weight: 500;
}

.info-text .year-1 {
    display: block;
    margin-top: 2px;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 6px;
}

.info-text .last {
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 2px;
}

.info-text .year-2 {
    font-size: 16px;
    margin-top: -1px;
    font-weight: 300;
}

.payment + .text-wrapper .checkout-button.disabled {
    pointer-events: none !important;
    background-color: #246cc7;
    opacity: .5;
}

.payment .toggle_radios > * {
    float: left;
}

.payment .toggle_radios input[type=radio]{
    display: none;
}

.payment .toggle_radios label{
    position: relative;
    color: rgba(255,255,255,.9);
    display: block;
    width: 119px !important;
    height: 34px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
}

.payment .toggle_option_slider{
    width: 124px;
    height: 34px;
    position: absolute;
    top: 3px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.payment .toggle_radios label p {
    margin: 0;
    font-family: lato, 'sans-serif', 'arial';
    display: inline-block;
    line-height: 41px;
    font-size: 17px;
    margin-left: 18px;
    position: absolute;
    left: 0;
    z-index: 9;
    opacity: .7
}

.payment .duration-text {
    margin-left: 13px;
    font-size: 15px;
    width: 245px;
    font-weight: 300;
}

#duration-s:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,1);
    left: 3px;
}
#duration-l:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,1);
    left: 125px;
}

#duration-s:checked ~ .small-skype p{
    color: #43c568;
    opacity: 1;
}

#duration-l:checked ~ .large-skype p{
    color: #43c568;
    opacity: 1;
}

@media only screen and (max-width: 1100px) {
    .payment + .text-wrapper .total {
        margin-left: 0;
    }

    .payment .promo-text {
        display: inline-block;
        margin-top: 92px;
        color: #fff;
        text-align: center;
    }

    .payment .skype:after, .payment .email:after {
        right: 10%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .currency-wrapper {
        text-align-last: center;
        padding: 0;
        margin: 0;
        float: none;
        width: 70%;
    }

    .payment {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
    }

    .payment .heading {
        color: #C04C9C;
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        margin-top: 0;
    }

    .payment .preamble {
        margin: 0 auto 51px;
        text-align: left;
        width: 100%;
        line-height: 25px;
        font-size: 17px;
    }

    .payment-type-wrapper {
        display: block;
    }

    .payment .skype {
        width: 100% !important;
        float: none !important;
        margin-left: 0 !important;
        margin-bottom: 45px;
    }

    .payment .email {
        width: 100% !important;
        position: static !important;
        margin-top: 26px !important;
    }

    .payment .category-heading {
        margin-left: 0 !important;
        text-align: center;
    }

    .currency-wrapper .select-style select {
        padding: 0;
    }

    .payment .duration-text {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .payment .toggle_radios {
        width: 99%;
    }

    .payment + .text-wrapper .total {
        color: #fff;
        font-size: 33px;
        letter-spacing: 0;
        float: none;
        width: 100%;
        display: block;
        text-align: center !important;
        margin: 0;
        padding: 0;
        min-width: 0 !important;
    }

    .payment + .text-wrapper .total span {
        vertical-align: unset;
    }

    .payment .skype .wrapper label, .payment .email .wrapper label {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .payment .toggle_option_slider {
        width: 49%;
    }

    #duration-l:checked ~ .toggle_option_slider{
        left: 50.5%;
    }

    .payment .toggle_radios label {
        width: 49% !important;
    }

    .payment .toggle_radios .small-skype p {
        left: 0;
        right: 0;
        margin: 2px auto;
        width: 100%;
        text-align: center;
    }

    .payment .toggle_radios .large-skype p {
        width: 100%;
        left: 0;
        right: 0;
        margin: 2px auto;
        text-align: center;
    }

    .payment .week-text {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 13px;
    }

    .payment .skype:after, .payment .email:after {
        display: none;
    }

    .payment .weeks {
        margin: 0 auto;
        padding: 0;
    }

    .payment .info-text {
        width: 100%;
    }

    .payment .promo-text {
        display: inline-block;
        margin-top: 82px;
        margin-left: 0;
        color: #fff;
        text-align: center;
    }

    .payment .info-text .promo {
        margin-bottom: 11px;
        position: static;
        top: auto;
        margin-bottom: 11px;
        top: auto;
        margin: auto;
        height: 335px;
        background-position: center;
        margin-top: -20px;
        text-align: center;
    }

    .payment + .text-wrapper .spec {
        display: block;
        margin: 10px auto 10px;
        min-width: 350px;
    }

    .payment + .text-wrapper .spec span:first-child {
        margin-right: 20px;
    }

    .payment + .text-wrapper .spec span {
        display: inline-block;
    }

    .payment + .text-wrapper .checkout-button {
        float: none;
        width: 70%;
        margin-bottom: 5px;
        margin-top: 5px;
        pointer-events: all !important;
    }

    .payment + .text-wrapper .promo-textfield {
        margin: 2px auto 10px;
        float: none;
        width: 70%;
    }

    .payment + .text-wrapper .promo-textfield input {
        height: 43px;
        width: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .payment {
        overflow: hidden;
        margin-bottom: 25px;
        padding: 20px 40px 0;
    }


    .payment .promo-text {
        display: inline-block;
        margin-top: 92px;
        color: #fff;
        text-align: center;
    }
    .payment .heading {
        color: #C04C9C;
        margin-bottom: 10px;
        text-align: center;
        font-size: 37px;
    }

    .payment + .text-wrapper {
        padding: 25px 40px 21px 40px;
        background-color: #C04C9C;
        overflow: hidden;
    }

    .payment + .text-wrapper .total {
        margin-left: 0;
    }

    .payment + .text-wrapper .spec {
        margin-right: 15px;
    }

    .payment + .text-wrapper .promo-textfield {
        margin-right: 10px;
    }

    .currency-wrapper {
        margin-right: 10px;
    }

    .payment + .text-wrapper button {
        margin-top: 2px;
        pointer-events: none !important;
    }

    .payment .preamble {
        margin: 0 auto 38px;
        text-align: left;
        width: 100%;
        line-height: 25px;
        font-size: 17px;
    }

    .payment .skype {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .currency-wrapper {
        width: 100%;
        text-align-last: center;
        margin-bottom: 0;
        padding: 0;
    }

    .payment + .text-wrapper .checkout-button {
        margin: 0;
        pointer-events: all !important;
    }

    .payment {
        padding: 0 40px 0 40px;
        margin-bottom: 18px;
    }

    .payment .payment-type-wrapper {
        display: block;
        text-align: center;
        padding: 0;
    }

    .payment .category-heading {
        text-align: center;
        margin-left: 0 !important;
    }

    .payment .payment-type-wrapper .skype,
    .payment .payment-type-wrapper .email {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    #duration-l:checked ~ .toggle_option_slider{
        left: 50%;
    }

    .payment  .payment-type-wrapper .skype label,
    .payment  .payment-type-wrapper .email label {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .payment .skype:after,
    .payment .email:after {
        display: none;
    }

    .payment .skype {
        margin-bottom: 45px;
    }

    .payment .email .weeks {
        display: none;
        height: 50px;
        margin-bottom: 15px;
        margin-top: 14px;
        box-sizing: border-box;
        padding-top: 6px;
        text-align: left;
    }

    .payment .toggle_radios .small-skype p {
        left: 0;
        right: 0;
        margin: 2px auto;
    }

    .payment .toggle_radios .large-skype p {
        left: 0;
        right: 0;
        margin: 2px auto;
    }

    .payment .toggle_radios label {
        width: 50% !important;
    }

    .payment .toggle_option_slider {
        width: 49%;
    }

    .payment .email .weeks > div {
        display: inline-blocK;
        float: none;
    }

    .payment .email .weeks .week-text {
        width: auto;
    }

    .payment .email .weeks .week-title {
        margin-right: 20px;
        text-align: center;
        display: inline-block
    }

    .payment .toggle_radios {
        width: 94%;
        margin-bottom: 20px;
    }

    .payment .heading {
        color: #C04C9C;
        margin-top: 33px;
        font-size: 25px;
        margin-bottom: 10px;
        text-align: left;
        margin-top: 9px;
    }

    .payment .preamble {
        margin: 0 auto 10px;
        line-height: 25px;
        font-size: 17px;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }

    .payment .info-text {
        width: 100%;
        margin-top: -20px;
    }

    .payment .info-text .promo {
        width: 100%;
        height: 351px;
        background-size: 376px
    }

    .payment .info-text .promo-text {
        left: 40px;
    }

    .payment .info-text .promo {
        width: 100%;
        height: 351px;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 400px;
        background-position: center;
        position: static;
    }

    .payment .promo-text {
        display: inline-block;
        margin-top: 74px;
        color: #fff;
        text-align: center;
    }

    .payment + .text-wrapper .total {
        color: #fff;
        font-size: 33px;
        letter-spacing: 0;
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        min-width: 0;
    }

    .payment + .text-wrapper .spec {
        min-width: 200px;
        display: block;
        margin: 10px auto;
    }

    .payment + .text-wrapper .spec span:first-child {
        text-align: center;
        color: #fff;
        font-size: 18px;
        margin-top: 5px;
        font-weight: 300;
        float: none;
    }

    .payment + .text-wrapper .checkout-button {
        margin: 8px 0;
    }

    .payment + .text-wrapper .spec span:last-child {
        text-align: center;
        color: #fff;
        font-size: 18px;
        display: inline;
        font-weight: 300;
        float: none;
    }

    .payment + .text-wrapper button {
        background-color: #246cc7;
        color: #fff;
        border: 1px solid #fff;
        font-size: 18px;
        font-weight: 100;
        padding: 10px;
        display: inline-block;
        vertical-align: text-bottom;
        width: 100%;
        margin-top: 1px;
        cursor: pointer;
    }

    .payment + .text-wrapper .promo-textfield {
        float: none;
        margin-right: 0;
        margin: 0;
        width: 100%;
    }

    .payment + .text-wrapper button {
        margin-bottom: 10px;
    }

    .payment + .text-wrapper .promo-textfield input {
        width: 100%;
        margin-top: 10px;
        border: 1px solid #0000;
        box-shadow: none;
        margin-bottom: 10px;
    }

    .payment .duration-text {
        margin-left: 0;
        font-size: 15px;
        width: 90%;
        font-weight: 300;
        margin: 0 auto;
    }

    .payment .week-text {
        margin-left: 0;
        font-size: 15px;
        width: 90%;
        font-weight: 300;
        margin: 0 auto 10px;
    }

    .payment input.email-m:checked ~ .weeks {
        display: block;
        margin: 0 auto 10px;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
    .currency-wrapper .select-style select {
        width: 100%;
        text-align-last: center;
        padding: 0;
    }

    .payment .toggle_radios {
        width: 98%;
        margin-bottom: 20px;
    }

    .payment + .text-wrapper .spec {
        min-width: 250px;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .currency-wrapper {
        width: 100%;
        text-align-last: center;
        margin-bottom: 7px;
        padding: 0;
    }

    .payment .promo-text {
        display: inline-block;
        margin-top: 88px;
        margin-left: 0;
        color: #fff;
        text-align: center;
    }

    .payment .toggle_radios label p {
        line-height: 38px;
    }

    .payment + .text-wrapper .total span {
        padding-top: 8px;
    }

    .payment {
        padding: 0 40px 0 40px;
        margin-bottom: 18px;
    }

    .payment .payment-type-wrapper {
        display: block;
        text-align: center;
        padding: 0;
    }

    .payment .category-heading {
        text-align: center;
        margin-left: 0 !important;
    }

    .payment .payment-type-wrapper .skype,
    .payment .payment-type-wrapper .email {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    .payment + .text-wrapper .checkout-button {
        width: 100%;
    }

    #duration-l:checked ~ .toggle_option_slider{
        left: 50%;
    }

    .payment  .payment-type-wrapper .skype label,
    .payment  .payment-type-wrapper .email label {
        width: 100%;
        box-sizing: border-box;
    }

    .payment .skype:after,
    .payment .email:after {
        display: none;
    }

    .payment .skype {
        margin-bottom: 45px;
    }

    .payment .email .weeks {
        display: none;
        height: 50px;
        margin-bottom: 15px;
        margin-top: 14px;
        box-sizing: border-box;
        padding-top: 6px;
        text-align: left;
    }

    .payment .toggle_radios .small-skype p {
        left: 0;
        right: 0;
        margin: 2px auto;
    }

    .payment .toggle_radios .large-skype p {
        left: 0;
        right: 0;
        margin: 2px auto;
    }

    .payment .toggle_radios label {
        width: 50% !important;
    }

    .payment .toggle_option_slider {
        width: 49%;
    }

    .payment .email .weeks > div {
        display: inline-blocK;
        float: none;
    }

    .payment .email .weeks .week-text {
        width: auto;
    }

    .payment .email .weeks .week-title {
        margin-right: 20px;
        text-align: center;
        display: inline-block
    }

    .payment .toggle_radios {
        width: 96%;
        margin-bottom: 20px;
    }

    .payment .heading {
        color: #C04C9C;
        margin-top: 33px;
        font-size: 25px;
        margin-bottom: 10px;
        text-align: left;
        margin-top: 9px;
    }

    .payment .preamble {
        margin: 0 auto 10px;
        line-height: 25px;
        font-size: 17px;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }

    .payment .info-text {
        width: 100%;
        margin-top: -20px;
    }

    .payment .info-text .promo {
        width: 100%;
        height: 351px;
        background-size: 376px
    }

    .payment + .text-wrapper .spec span {
        display: block;
        font-size: 15px !important;
        min-width: 0;
        margin-right: 0 !important;
    }

    .payment .info-text .promo {
        width: 100%;
        height: 351px;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 400px;
        background-position: center;
        position: static;
    }

    .payment + .text-wrapper .total {
        width: 100%;
        margin: 0;
        color: #fff;
        margin-top: 31px;
        font-size: 33px;
        margin: 0;
        min-width: 320px;
        text-align: left;
        letter-spacing: 0;
    }

    .payment + .text-wrapper .total span {
        vertical-align: top;
    }

    .payment + .text-wrapper .spec {
        width: 200px;
        margin-top: 2px;
        min-width: 0 !important;
    }

    .payment + .text-wrapper .spec span:first-child {
        text-align: center;
        color: #fff;
        font-size: 18px;
        margin-top: 5px;
        font-weight: 300;
        float: none;
    }

    .payment + .text-wrapper .checkout-button {
        margin: 0;
    }

    .payment + .text-wrapper .spec span:last-child {
        text-align: center;
        color: #fff;
        font-size: 18px;
        display: inline;
        font-weight: 300;
        float: none;
    }

    .payment + .text-wrapper button {
        background-color: #246cc7;
        color: #fff;
        border: 1px solid #fff;
        font-size: 18px;
        font-weight: 100;
        padding: 10px;
        display: inline-block;
        vertical-align: text-bottom;
        width: 100%;
        margin-top: 1px;
        cursor: pointer;
    }

    .payment + .text-wrapper .promo-textfield {
        float: none;
        margin-right: 0;
        margin: 0;
        width: 100%;
    }

    .payment + .text-wrapper button {
        margin: 0 !important;
    }

    .payment + .text-wrapper .promo-textfield input {
        width: 100%;
        margin-top: 10px;
        border: 1px solid #0000;
        box-shadow: none;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .currency-wrapper {
        width: 100%;
        text-align-last: center;
        margin-bottom: 7px;
        padding: 0;
    }

    .payment {
        padding: 0 20px 0 20px;
        margin-bottom: 18px;
    }

    .payment .duration-text {
        width: initial;
        text-align: left;
        margin-left: 13px;
    }

    .payment + .text-wrapper {
        padding: 15px 20px 21px 20px;
    }
}