.checkout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.checkout .basket {
    width: 600px;
    min-height: 614px;
    text-align: center;
    background-color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -300px;
    margin-top: -333px;
    box-sizing: border-box;
}

.checkout .header {
    width: 100%;
    height: 80px;
    background: #c04c9c;
}

.checkout .outer-frame {
    width: 568px;
    height: 95%;
}

.checkout .inner-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.checkout .header {
    padding-left: 0;
}

.checkout .basket .front {
    margin: 20px auto;
    left: 50%;
    z-index: 99;
}

.checkout .basket .back {
    margin: 0 auto;
    width: 410px;
}

.checkout .basket .front,
.checkout .basket .back {
    color: #c04c9c;
    font-size: 40px;
    display: inline-block;
    margin-top: 7px;
}

.checkout .basket p {
    color: #333;
    font-size: 24px;
    font-weight: 300;
}

.checkout .basket p:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: left;
}

.checkout .basket p:nth-child(3) {
    margin: 10px 0 0 0;
    font-weight: 300;
    color: #c04c9c;
    font-size: 29px;
}

.checkout .basket p:nth-child(4) {
    padding-top: 8px;
    margin-top: -2px;
    margin-bottom: 0;
    text-align: left;
}

.checkout .basket .back button {
    display: block;
    width: 497px;
    margin-top: 26px;
    margin-left: -39px;
}

.checkout .basket p:nth-child(5) {
    margin: 0;
    font-weight: 300;
    color: #c04c9c;
    font-size: 29px;
    margin: 10px 0 6px 0;
    text-align: center;
}

.checkout .none {
    display: none !important;
}

.checkout .basket label:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 0;
}

.checkout .basket p:nth-child(6) {
    margin: 4px 0 14px;
    text-align: left;
}

.checkout .basket p:nth-child(7) {
    margin: 4px 0 14px;
    text-align: left;
}

.checkout .basket p:nth-child(8) {
    margin: 20px 0 0 0;
    text-align: left;
}

.checkout .basket p:nth-child(9) {
    margin: 5px 0 0 0;
    text-align: left;
}

.checkout .basket .front h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
    margin-bottom: 23px;
    text-align: center;
}

.checkout .basket .back h1 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
}

.checkout .basket label {
    color: #c04c9c;
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: 300;
    text-align: left;
}

.checkout input.error {
    background-color: #c64c9c;
    color: #fff;
}

.checkout .form-element-wrapper {
    margin-top: 15px;
    overflow: hidden;
}

.checkout .error {
    display: blocK;
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.checkout .basket input {
    display: block;
    margin-bottom: 3px;
    height: 42px;
    width: 350px;
    border: 1px solid #888;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    font-weight: 200;
    outline: 0;
    box-shadow: inset 0 0 1px 0 #999;
}

.checkout .basket textarea {
    display: block;
    margin-bottom: 19px;
    height: 110px;
    width: 350px;
    border: 1px solid #888;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
    outline: 0;
}

.checkout .form-buttons button:first-child {
    width: 118px;
    margin-right: 11px;
    background: #bbb;
}

.checkout .form-buttons button {
    float: left
}

.checkout .form-buttons button:last-child {
    width: 222px;
}

.checkout .basket button {
    width: 351px;
    height: 56px;
    background-color: #c04c9c;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    outline: 0;
}

.checkout .basket svg {
    width: 18px;
    height: 25px;
    position: absolute;
    right: 13px;
    top: 11px;
    cursor: pointer;
}

.checkout .basket svg path {
    fill: #fff;
}