.checkout {
    padding-top: 100px;
}

.none {
    display: none;
}

.checkout .page-header {
    padding-left: 0;
    height: 58px;
    background: #c04c9c;
}

.checkout .inner-frame {
    overflow: hidden;
    margin-bottom: 35px;
}

.checkout .city-wrapper {
    overflow: hidden;
}

.checkout .city-wrapper {
    overflow: hidden;
}

.checkout .city-wrapper div:first-child {
    float: left;
    width: 30%;
    margin-right: 3%;
}

.checkout .city-wrapper div:last-child {
    float: left;
    width: 67%;
}

.checkout .faktura-info {
    float: left;
    margin-top: 10px;
    margin: 0;
}

.checkout .faktura-info p {
    height: auto;
    border-radius: 5px;
    line-height: 21px;
    color: #c04c9c;
    font-weight: 300;
    font-size: 15px;
    margin: 8px 0 10px 4px;
}

.checkout .basket .back > div {
    margin: 60px auto;
    width: 520px;
}

.checkout .card-error {
    float: left;
    margin-left: 55px;
}

.checkout .card-error p {
    color: #fff !important;
    margin-top: 27px;
    margin-bottom: 0;
    box-sizing: border-box;
    font-size: 17px !important;
    max-width: 427px;
    padding: 12px 15px 14px 15px;
    border-radius: 3px;
    background-color: #731b58;
    text-align: center;
}

.checkout .page-header h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    line-height: 57px;
}

.checkout .left-col-wrapper {
    float: left;
    width: 40%;
}

.checkout .stripe {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.checkout #card-element {
    padding: 12px;
    border: 1px solid #999;
    border-radius: 5px;
    min-height: 16px;
}

.checkout .center {
    text-align: center;
}

.checkout .header {
    padding-left: 0;
}

.checkout .basket .front {
    margin-left: 55px;
    float: left;
    width: 50%;
    margin-top: 25px;
}

.checkout .basket .back {
    //color: #c04c9c;
    //margin-left: 55px;
    //float: left;
    //width: 40%;
    //margin-left: 55px;
    //margin-top: 20px;
}

.checkout .basket .front,
.checkout .basket .back {
    color: #c04c9c;
}

.xcomponent-outlet {
    width: 100%;
    height: 68px;
}

.checkout .payment-type-wrapper {
    float: left;
    margin-right: 20px;
}

.checkout .payment-type-wrapper.faktura-wrapper {
    margin-top: 7px;
}

.checkout .payment-type-wrapper.faktura-wrapper label {
    margin-top: 2px;
}

.xcomponent-outlet {
    width: 100% !important;
    height: 68px !important;
}

.payment-type {
    transition: all 7s;
}

.checkout .payment-type {
    margin-top: 17px !important;
}

.checkout fieldset {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 13px 25px;
    //max-height: 400px;
    //height: 45px;
    //transition: all 2s ease-in-out;
}

.checkout fieldset.expand {
    height: 230px;
}

.checkout fieldset label {
    color: #333 !important;
}

.checkout legend {
    font-weight: 300;
    padding: 0 7px;
    font-size: 15px;
    color: #c04c9c;
}

.checkout .payment-type-wrapper label {
    float: left;
    margin-right: 5px;
    margin-bottom: 0 !important;
}

.checkout .payment.type-wrapper + p {
    margin: 8px 0 10px 4px;
}

.payment-type-header {
    display: block;
    margin-top: 11px;
}

.checkout .payment-type-wrapper input {
    float: left;
    width: 20px !important;
    height: 20px !important;
    vertical-align: top;
}

.checkout .paypal-button {

}

.checkout .form-buttons button:first-child + div {
    float: left;
    width: 68%;
}

.checkout .basket p {
    //color: #333;
    //font-size: 23px;
    //font-weight: 300;
}

.checkout .basket > div p:first-child {
    //margin-bottom: 70px;
    //text-align: left;
    //font-size: 22px;
    //margin-top: 13px;
    //float: left;
    //height: 25px;
}

.checkout .back-header {
    font-size: 29px;
    margin-bottom: 10px;
}

.checkout .back-header + p {
    margin-bottom: 37px !important;
    color: #333 !important;
}

.checkout .baseket .back h3 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 1px;
}

.checkout .baseket .back .comment-label {
    font-size: 22px !important;
}

.checkout .basket .back button {
    display: block;
    width: 100%;
    margin-top: 19px;
    margin-left: -1px;
    height: 47px;
}

.checkout .basket p:nth-child(4) {
    //color: #c04c9c;
    //font-size: 30px;
    //margin: 7px 0 6px 0;
    //text-align: center;
    //font-weight: 300;
}

.checkout .none {
    display: none !important;
}

.checkout .basket .front h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
    margin-bottom: 23px;
    text-align: center;
    margin-left: -426px;
}

.checkout .basket .back h1 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
    margin-left: -426px;
}

.checkout .basket label {
    color: #c04c9c;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: 300;
    text-align: left;
}

.checkout input.error {
    background-color: #c64c9c;
    color: #fff;
}

.checkout .form-element-wrapper {
    margin-top: 10px;
    overflow: hidden;
}

.checkout .card {
    width: auto;
    height: 32px;
    margin-right: 8px;
    float: left;
}

.checkout .card-radio {
    margin-top: 9px;
}

.checkout .error {
    display: blocK;
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: left;
    color: red !important;
}

.checkout .rating {
    overflow: hidden;
    margin-top: -24px;
    display: inline-block;
    height: 56px;
}

.checkout .rating .stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
}

.checkout .rating-text {
    float: left;
    margin: 0;
    line-height: 38px;
    font-size: 20px;
    margin-top: 0 !important;
    width: 320px;
}

.checkout .back .preamble {
    font-weight: 300;
    color: #c04c9c;
    margin: 7px 0 0;
    font-size: 20px;
    max-width: 450px;
}

.checkout .rating .stars span {
    display: inline-block;
    position: relative;
    width: 40px;
    font-size: 28px;
    height: 42px;
}
.checkout .rating .stars span:hover:before,
.checkout .rating .stars span:hover ~ span:before {
    //content: "\2605";
    //position: absolute;
}

.checkout .rating .stars span.filled:before {
    content: "\2605";
    position: absolute;
}


.checkout .basket input {
    display: block;
    margin-bottom: 3px;
    height: 42px;
    width: 100%;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    font-weight: 200;
    outline: 0;
}

.checkout .basket textarea {
    display: block;
    margin-bottom: 19px;
    height: 110px;
    width: 100%;
    border: 1px solid #999;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
    outline: 0;
}

.checkout .form-buttons {
    width: 100%;
}

.checkout .form-buttons button:first-child {
    width: 30%;
    margin-right: 2%;
    background: #c2519e8c;
    margin-bottom: 40px;
}

.checkout .form-buttons button:last-child {
    margin-bottom: 40px;
}

.checkout .form-buttons button {
    float: left
}

.checkout .form-buttons .paypal-button {
    //width: 68% !important;
}

.checkout .form-buttons .stripe-button {
    width: 68% !important;
}

.checkout .form-buttons button {
    //width: 351px;
    height: 47px;
    background-color: #c04c9c;
    border: none;
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    cursor: pointer;
    outline: 0;
}

.checkout .basket svg {
    width: 18px;
    height: 25px;
    position: absolute;
    right: 13px;
    top: 11px;
    cursor: pointer;
}

.activity-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 999;
    padding: 10px;
}

.activity-wrapper > div {
    position: absolute;
    background: #fff;
    width: 450px;
    padding: 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 139px;
    font-size: 18px;
    border-radius: 5px;
    color: #333;
}

.activity-wrapper p {
    margin: 0;
}

.activity-wrapper button {
    background-color: #246cc7;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: 300;
    display: block;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
}

.checkout .basket svg path {
    fill: #fff;
}

table {
    margin-top: 40px;
    margin-left: 55px;
    width: 430px;
}

th {
    margin-right: 70px;
    margin-top: 109px;
    margin-left: 45px;
    width: 389px;
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    padding: 5px;
}

td {
    font-weight: 300;
    padding: 6px 10px;
}

tr td:first-child {
    text-align: left;
    padding-left: 17px;
}

tr {
    background-color: #c04c9c59;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

thead tr {
    background-color: #c04c9c;
}

.right {
    text-align: right !important;
}

.heavy {
    font-weight: 600 !important;
    color: #444 !important;
}

.select-style {
    height: 40px;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style:after {
    top: 50%;
    right: 25px;
    border: solid #0000;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #0000;
    border-top-color: #333;
    border-width: 7px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select {
    padding: 0 0 0 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #0000;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
    height: 100%;
    line-height: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
}

.select-style select:focus {
    outline: none;
}

#breakpoints {
    height:0px;
}

#breakpoints > div.breakpoint-small {
    display:none;
}

#breakpoints > div.breakpoint-medium {
    display:none;
}


#breakpoints > div.breakpoint-large {
    display:block;
}

.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    background: #000000c7;
    z-index: 9999;
}

.loader {
    position: absolute;
    margin: auto;
    z-index: 999;
    background: #fff;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 157px;
}

.processing-text {
    position: absolute;
    bottom: 13px;
    left: 41px;
    color: #C04C9C;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -20px;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@-webkit-keyframes color {
    100%,
    0% {
        stroke: #c04c9c;
    }
    40% {
        stroke: #c04c9c;
    }
    66% {
        stroke: #c04c9c;
    }
    80%,
    90% {
        stroke: #c04c9c;
    }
}
@keyframes color {
    100%,
    0% {
        stroke: #c04c9c;
    }
    40% {
        stroke: #c04c9c;
    }
    66% {
        stroke: #c04c9c;
    }
    80%,
    90% {
        stroke: #c04c9c;
    }
}

@media only screen and (max-width: 500px) {
    .checkout {
        padding-top: 230px;
    }

    .checkout .page-header {
        margin-top: 20px;
        padding-left: 0;
        height: 58px;
        background: #fff;
        color: #c04c9c;
    }

    .checkout .page-header h1 {
        color: #C04C9C;
    }

    .checkout .left-col-wrapper {
        float: none;
    }

    .checkout .basket .front {
        float: none;
        display: block;
        color: #c04c9c;
        font-size: 40px;
        width: 85%;
        margin: 25px auto;
    }

    #breakpoints > div.breakpoint-small {
        display:block;
    }

    #breakpoints > div.breakpoint-medium,
    #breakpoints > div.breakpoint-large {
        display:none;
    }

    .checkout .header {
        background-color: #fff;
        position: static;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .checkout .header h1 {
        color: #C04C9C;
    }

    .checkout table {
        float: none;
        margin-top: 0;
        width: 85%;
        box-sizing: border-box;
        margin: 9px auto 25px;
    }

    .checkout .basket .front {
        float: none;
        display: block;
        color: #c04c9c;
        font-size: 40px;
        margin-top: 7px;
        width: 85%;
        margin: 0 auto;
    }

    .checkout .form-buttons button:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .checkout .form-buttons button:last-child {
        width: 100%;
        margin-bottom: 40px;
    }

    .checkout .basket .back {
        //margin-left: 0;
        //width: 85%;
        //box-sizing: border-box;
        //margin: 0 auto;
        //display: block;
        //float: none;
    }
}
