.checkout {
    margin-top: 3px;
}

.checkout .header {
    padding-left: 0;
    height: 58px;
    background: #c04c9c;
}

.checkout .header h1 {
    text-align: center;
    color: #fff;
    margin: 10px 0;
}


.checkout .header {
    padding-left: 0;
}

.checkout .basket .front {
    margin-left: 55px;
    float: left;
    width: 50%;
}

.checkout .basket .back {
    color: #c04c9c;
    font-size: 26px;
    display: inline-block;
    margin-top: 7px;
    width: 410px
}

.checkout .basket .front,
.checkout .basket .back {
    color: #c04c9c;
    font-size: 40px;
    display: inline-block;
    margin-top: 7px;
}

.checkout .basket p {
    color: #333;
    font-size: 24px;
    font-weight: 300;
}

.checkout .basket p:nth-child(2) {
    margin-top: 27px;
    margin-bottom: 0;
    text-align: left;
}

.checkout .basket p:nth-child(3) {
    margin: 7px 0 0 0;
    font-weight: 300;
    color: #c04c9c;
    font-size: 29px;
}

.checkout .basket p:nth-child(4) {
    padding-top: 5px;
    margin-top: -2px;
    margin-bottom: 0;
    text-align: left;
}

.checkout .basket .back button {
    display: block;
    width: 100%;
    margin-top: 19px;
    margin-left: -1px;
    height: 47px;
}

.checkout .basket p:nth-child(5) {
    color: #c04c9c;
    font-size: 30px;
    margin: 7px 0 6px 0;
    text-align: center;
    font-weight: 300;
}

.checkout .none {
    display: none !important;
}

.checkout .basket label:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 0;
}

.checkout .basket p:nth-child(6) {
    margin: 4px 0 14px;
    text-align: left;
}

.checkout .basket p:nth-child(7) {
    margin: 4px 0 14px;
    text-align: left;
}

.checkout .basket p:nth-child(8) {
    margin: 16px 0 0 0;
    text-align: left;
}

.checkout .basket p:nth-child(9) {
    margin: 5px 0 0 0;
    text-align: left;
}

.checkout .basket .front h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
    margin-bottom: 23px;
    text-align: center;
    margin-left: -426px;
}

.checkout .basket .back h1 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
    margin-left: -426px;
}

.checkout .basket label {
    color: #c04c9c;
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: 300;
    text-align: left;
}

.checkout input.error {
    background-color: #c64c9c;
    color: #fff;
}

.checkout .form-element-wrapper {
    margin-top: 15px;
    overflow: hidden;
}

.checkout .error {
    display: blocK;
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.checkout .basket input {
    display: block;
    margin-bottom: 3px;
    height: 42px;
    width: 100%;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    font-weight: 200;
    outline: 0;
}

.checkout .basket textarea {
    display: block;
    margin-bottom: 19px;
    height: 110px;
    width: 100%;
    border: 1px solid #999;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
    outline: 0;
}

.checkout .form-bouttons {
    width: 100%;
}

.checkout .form-buttons button:first-child {
    width: 30%;
    margin-right: 11px;
    background: #c2519e8c;
}

.checkout .form-buttons button {
    float: left
}

.checkout .form-buttons button:last-child {
    width: 68%;
}

.checkout .basket button {
    width: 351px;
    height: 47px;
    background-color: #c04c9c;
    border: none;
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    cursor: pointer;
    outline: 0;
}

.checkout .basket svg {
    width: 18px;
    height: 25px;
    position: absolute;
    right: 13px;
    top: 11px;
    cursor: pointer;
}

.checkout .basket svg path {
    fill: #fff;
}

table {
    float: left;
    margin-top: 48px;
    margin-left: 55px;
    width: 430px;
}

th {
    margin-right: 70px;
    margin-top: 109px;
    margin-left: 45px;
    width: 389px;
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    padding: 5px;
}

td {
    font-weight: 300;
    padding: 6px 10px;
}

tr td:first-child {
    text-align: left;
    padding-left: 17px;
}

tr {
    background-color: #c04c9c59;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

thead tr {
    background-color: #c04c9c;
}

.right {
    text-align: right !important;
}

.heavy {
    font-weight: 600 !important;
    color: #444 !important;
}

.select-style {
    height: 40px;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style:after {
    top: 50%;
    right: 25px;
    border: solid #0000;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #0000;
    border-top-color: #333;
    border-width: 7px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select {
    padding: 0 0 0 20px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #0000;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
    height: 100%;
    line-height: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
}

.select-style select:focus {
    outline: none;
}