.issues {
    position: relative;
    height: 420px;
    padding: 55px 0;
    background: url('/images/issuebackground.jpg') no-repeat;
    background-size: 1199px;
    background-position: center -141px;
}

.issues:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.issues .row-1, .row-2, .row-3 {
    text-align: center;
}

.issues .row-1, .row-2 {
    margin-bottom: 20px;
}

.issues .issue {
    position: relative;
    display: inline-block;
    margin: 0 7%;
    vertical-align: middle;
    z-index: 9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #C04C9C;
    transition: transform .5s;
    padding: 15px;
    text-align: center;
    color: #C04C9C;
}

.issues .issue:hover {
    transform: scale3d(1.6, 1.6, .5);
}

.issues .issue svg {
    display: block;
    width: 80px;
    height: 80px;
    fill: #C04C9C;
}

.issues .issue:after {
    display: block;
    margin-top: 25px;
    font-weight: 300;
    color: #C04C9C;
    pointer-events: none;
    white-space: nowrap;
}

.issues .issue-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 80px;
    width: 80px;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    cursor: default;
    vertical-align: middle;
}

.issues .issue.show {
    border: 5px solid #F6ABE1;
}

.issues .issue.show .issue-text {
    position: static !important;
    display: table-cell !important;
    height: inherit !important;
    margin: initial !important;
    opacity: 1 !important;
    color: #F6ABE1;
}

.issues .issue.iscrpljenost.show .issue-text {
    vertical-align: top;
}

.issues .issue.show svg {
    display: none;
}

.issues .iscrpljenost svg {
    width: 75px !important;
    margin-top: -4px !important;
    margin-left: 2px !important;
}

.issues .stres svg {
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 11px;
}

.issues .issue:hover:after {
    margin-top: 25px !important;
}

.issues .issue.stres:after {
    margin-top: 30px;
}

.issues .tezina svg {
    width: 63px !important;
    margin-left: 8px;
}

.issues .issue svg + p {
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
}

.issues .issue:hover svg + p {
    color: #F6ABE1;
    font-weight: 300;
}

.issues .fobia svg {
    width: 67px !important;
    margin-left: 6px !important;
}

.issues .issue.show:after {
    color: #F6ABE1;
}

.issues ~ .text-wrapper {
    padding: 30px 70px 32px 75px;
    background-color: #C04C9C;
    overflow: hidden;
}

.issues ~ .text-wrapper .heading {
    color: #fff;
    font-size: 33px;
    margin: 0 0 7px 0;
}

.issues ~ .text-wrapper .preamble {
    float: left;
    font-size: 17px;
    margin: 0;
    color: #fff;
    line-height: 25px;
    max-width: 800px;
}

.issues ~ .text-wrapper .issue-button {
    text-align: center;
    float: right;
    width: 165px;
    background-color: #246cc7;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 7px 10px 10px 10px;
    display: block;
    border-radius: 3px;
}

.issues ~ .text-wrapper-mobile {
    display: none;
}

.issues.mobile-issues {
    display: none;
}

.issues > div .issue:first-child {
    margin-left: 0;
}

.issues > div .issue:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1100px) {
    .issues .issue {
        margin: 0 6%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .issues ~ .text-wrapper .preamble {
        max-width: 700px;
    }

    .issues ~ .text-wrapper {
        padding: 30px 40px 32px 40px;
        background-color: #C04C9C;
        overflow: hidden;
    }

    .issues ~ .text-wrapper .heading {
        color: #fff;
        font-size: 30px;
        margin: 0 0 7px 0;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .issues ~ .text-wrapper .heading {
        text-align: left !important;
        font-size: 27px !important;
    }
}

@media only screen and (max-width: 768px) {
    .issues.desktop-issues {
        display: none;
    }

    .issues:after {
        display: none;
    }

    .issues .issue:after {
        display: none;
    }

    .issues .issue-text {
        height: 30px;
    }

    .issues .issue:hover {
        transform: none;
    }

    .issues.mobile-issues {
        background-image: none !important;
        background-color: #C04C9C;
        display: block;
        height: 272px;
        padding: 35px 0;
        padding-bottom: 0;
    }

    .issues .issue-carousel.swipe-left {
        margin-left: -470px;
    }

    .issues .issue-carousel.swipe-right {
        margin-left: 470px;
    }

    .issues .issue-carousel.swipe-zero {
        margin-left: 0;
    }

    .issues .issue-wrapper {
        float: left;
        margin: 0 94px 0 0;
        position: relative;
        text-align: center;
        width: 768px;
        overflow: hidden;
    }

    .issues .issue-carousel > div .issue {
        width: 120px;
        height: 120px;
        position: relative;
        vertical-align: middle;
        z-index: 9;
        border-radius: 50%;
        border: 9px solid #fff;
        padding: 15px;
        text-align: center;
        color: #C04C9C;
        margin: 0;
    }

    .issues .issue-carousel > div .issue svg {
        width: 152px;
        height: 136px;
    }

    .issues > .issue-wrapper .issue:after {
        display: none;
    }

    .issues .issue-text {
        position: static;
        display: block;
        margin-bottom: 0;
        color: #fff;
        font-weight: 300;
        z-index: 999;
        font-size: 17px;
        top: 228px;
        left: -14px;
        line-height: 24px;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
        padding: 0 69px;
        box-sizing: border-box;
    }

    .issues ~ .text-wrapper .heading {
        color: #C04C9C;
        text-align: left;
    }

    .issues  ~ .text-wrapper .preamble {
        text-align: left;
        color: #333;
        line-height: 25px;
        font-size: 17px;
        margin: 0;
    }

    .issues .issue-wrapper > .heading {
        color: #fff;
        left: 49px;
        z-index: 999999999999;
        top: 206px;
        margin: 0;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 600;
    }

    .issues ~ .text-wrapper .heading {
       font-size: 30px;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .issues .issue-icon-stress {
        position: absolute;
        top: 36px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        width: 100px;
        height: 87px;
    }

    .issues .issue-icon-anxiety {
        position: absolute;
        top: 41px;
        right: 0;
        bottom: 0;
        left: -9px;
        margin: 0 auto;
        width: 80px;
        height: 87px;
    }

    .issues .issue-icon-violence {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: -1px;
        margin: 0 auto;
        width: 86px;
        height: 87px;
    }

    .issues .issue-icon-fobia {
        position: absolute;
        top: 42px;
        right: 0;
        bottom: 0;
        left: -1px;
        margin: 0 auto;
        width: 78px;
        height: 87px;
    }

    .issues .issue-icon-panic {
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 0;
        left: -7px;
        margin: 0 auto;
        width: 78px;
        height: 87px;
    }

    .issues .issue-icon-weight {
        position: absolute;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        width: 78px;
        height: 87px;
    }

    .issues .issue-icon-depression {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: -2px;
        margin: 0 auto;
        width: 102px;
        height: 87px;
    }

    .issues .issue-icon-backPain {
        position: absolute;
        top: 39px;
        right: 0;
        bottom: 0;
        left: -6px;
        margin: 0 auto;
        width: 102px;
        height: 87px;
    }

    .issues .issue-icon-exhaustion {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        width: 82px;
        height: 87px;
    }

    .issues .issue-icon-stuck {
        position: absolute;
        top: 39px;
        right: 0;
        bottom: 0;
        left: 3px;
        margin: 0 auto;
        width: 100px;
        height: 87px;
    }

    .issues .issue-icon-kids {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        width: 78px;
        height: 87px;
    }

    .issues .issue-icon-packPain {
        position: absolute;
        top: 31px;
        right: 0;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        width: 78px;
        height: 87px;
    }

    .issues ~ .text-wrapper .issue-button {
        background-color: #246cc7;
        color: #fff;
        border: 1px solid #fff;
        font-size: 20px;
        padding: 10px;
        border-radius: 3px;
        text-align: center;
        font-weight: 300;
        float: none;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 35px;
        border-radius: 5px;
    }

    .issues .issue-arrow-left {
        position: absolute;
        z-index: 999999;
        border-left: 5px solid #fff;
        border-top: 5px solid #fff;
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
        margin-top: 10px;
        cursor: pointer;
        top: 107px;
        left: -210px;
        right: 0;
        margin: auto;
    }

    .issues .issue-arrow-right {
        position: absolute;
        z-index: 999999;
        border-right: 5px solid #fff;
        border-bottom: 5px solid #fff;
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
        float: left;
        margin-top: 10px;
        cursor: pointer;
        top: 107px;
        left: 0;
        right: -210px;
        margin: auto;
    }

    .issues ~ .text-wrapper {
        display: none;
    }

    .issues ~ .text-wrapper-mobile {
        padding: 20px 40px 0 40px;
        background-color: #fff;
        overflow: hidden;
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .issues .issue-text {
        height: 72px;
    }

    .issues.mobile-issues {
        height: 295px;
    }

    .issues .issue-wrapper {
        float: none !important;
        width: 100% !important;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 400px) {
    .issues ~ .text-wrapper-mobile {
        padding: 20px 20px 0 20px;
        margin-bottom: 0;
    }

    .issues .issue-text {
        padding: 0 30px;
    }

    .issues ~ .text-wrapper .heading {
        font-size: 27px;
        margin: 0 0 10px 0;
        text-align: left;
    }
}